<div class="signup-block">
<h2 class="signup">Sign Up Now</h2>

<p> <br/>

       <span class="glyphicon glyphicon-gift"></span> Collect gifts <small><b>(or money)</b></small> from family and friends<br/>
       <span class="glyphicon glyphicon-user"></span> Manage your guest list...<br/>
       <span class="glyphicon glyphicon-camera"></span> Share your events albums and videos<br/>
       <span class="glyphicon glyphicon-envelope"></span> Communicate calendars, places with your guests<br/>
       <span class=" glyphicon glyphicon-th-large"></span> and lot more free...<br/>


<br/>
</p>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),html: {class:"sign-up-form form form-group"}) do |f| %>
  <%= devise_error_messages! %>

  <%= f.text_field :name, :autofocus => true,class: "form-control",placeholder:"your full name" %>

  <%= f.email_field :email, :autofocus => true,class: "form-control",placeholder:"your email" %>

  <%= f.password_field :password ,class: "form-control",placeholder:"your password"%>

  <%= f.password_field :password_confirmation ,class: "form-control",placeholder:"repeat password"%>

  <%= f.submit "Sign up",class:"btn btn-info" %>

<% end %>


</div>