<h1>Listing gift_categories</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gift_categories.each do |gift_category| %>
      <tr>
        <td><%= link_to 'Show', gift_category %></td>
        <td><%= link_to 'Edit', edit_gift_category_path(gift_category) %></td>
        <td><%= link_to 'Destroy', gift_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gift category', new_gift_category_path %>
