<!--<center><div id="welcome-index" >
<h1>Zwaj</h1>
<p>&nbsp;</p>
<p>
  Zwaj it !<br/>
  Time to manage your wedding list.
  <br/>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %><br/>
  <%= link_to "Sign in with Google"  , user_omniauth_authorize_path(:google_oauth2) %><br/>
  <%= link_to t('sign_out'), destroy_user_session_path, method: :delete %>   <br/>
  <%= link_to t('signup'), new_user_registration_path  %>   <br/>
  <a href="/admin">Admin</a>   <br/>

</p>
</div>
</center>-->

<script type="text/x-handlebars" data-template-name="welcome">
   <div class="coming-soon"><h1 >Coming soon...</h1>
      <p>Stay tuned.</p>
   </div>
</script>
