<!--<h2>Sign in</h2>-->

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {role: "form", class: " sign-in-form navbar-form navbar-right form-inline", id: 'login_form'}) do |f| %>
  <div class="form-group">
    <table cellspacing=2>
      <tr>
        <td style="padding: 0px !important;">
          <%= #f.label :email
          %>
          <%= f.email_field :email, :autofocus => true, placeholder: " your email", class: "form-control no-error" %>
        </td>
        <td>
          <%= #f.label :password
          %>
          <%= f.password_field :password, placeholder: "your password", class: "form-control  no-error" %>
          <%= f.button "Sign in", class: "btn btn-info" %>
          <br/>
        </td>
      </tr>
      <tr>
        <td>
          <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me, class: "checkbox" %> <%= f.label :remember_me %>
          <% end -%>
        </td>
        <td>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %>
        </td>
      </tr>
      <tr>
        <td>Sign in with:
          <a class="omniauth_provider_link" href="/users/auth/facebook" id="omniauth_provider_facebook"><span class="btn btn-facebook icon-facebook"> facebook</span></a>
        </td>
        <td>
          <a class="omniauth_provider_link" href="/users/auth/google_oauth2" id="omniauth_provider_google_oauth2"><span class="btn btn-google  icon-googleplus"> google</a>
        </td>
      </tr>
    </table>
  </div>
  <br/>



<% end %>

<%= #render "devise/shared/links"
%>
