/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
 //You can override vars here, before importing bootstrap. 
 //$link-color: red;
.center{
  text-align: center;
}
body{
  background:{
   //image: url("img/bg1.jpeg") ;
    position: center;
    repeat: no-repeat;
    size: cover;


  }
}
body *{
  color: #666666;
}
// import original bootstrap
@import "twitter/bootstrap";
body {
  font:{
    family: 'Raleway','Open Sans' !important;
  }
}
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: normal;
  line-height: 1em;
  padding-bottom: 5px;
  //    fonts-family: Roboto;
}
h2{
  font-size: 24px;
}
form label{
  font-weight: 200;
}
.alert{
  padding: 3px;
  font-size: 13px;
  font-family: 'Open Sans';
}
.main-container{
  .navbar-right{
    margin-right: 2px !important;
    padding-top: 15px;
    vertical-align: middle;
    font-size: 12px;

  }
  .logout *{
    color: #A20C0F;
  }
}

$navbar-zwaj-height: 90px;
$navbar-zwaj-color1: #50BDDF;
.devise-container .navbar-zwaj{
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  height: $navbar-zwaj-height  ;
  background-color: rgba(255,255,255,0.92);

}
.navbar-brand.zwaj-logo{
  margin-left: 50px;
}
@mixin robotobig{
  font-family: Roboto;
  font-weight: 200;
  font-size: 56px;
  font-style: normal;
  //letter-spacing: -2px;
}
@mixin caption{
  font-size: 12px;
  line-height: 8em;
  letter-spacing: 2px;
  color: $navbar-zwaj-color1;
}
.head-caption{
  /*display: none;
  @include robotobig;
  letter-spacing: +1px;
  font-family: "Open Sans";
  font-weight: 600;
  color: #222;*/
 @include caption ;
}

.head-caption2{
  //display: none;
  //font-family: Raleway;
  //font-weight: 200;
  @include caption;
  color: #09607A;
}
.main-container .under-navbar{
  padding-top: 50px;
}
.devise-container .under-navbar{
  padding-top: $navbar-zwaj-height - 2;
}
.section1{

  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1) inset;

  height: 100px;
  background-color: $navbar-zwaj-color1;
  opacity: 0.9;
  color: white;
  padding:10px ;
  padding-left:5% ;
  .glyphicon{
    color: white;
    opacity: .7;
  }
  .section1-1{
    color: white;
    font-family: Raleway;
    font-weight: 200;
    font-size: 35px;
  }
  .section1-2{
    color: white;
    font-family: Raleway;
    font-weight: 200;
    font-size:16px;
    padding-left: 42px;
  }
}
.blocks-container{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}

.has-error .help-inline{
  color:#B4474B;
  font-family: 'Roboto';
  //font-weight: 100;
  font-size: 12px;
}
#error_explanation{
  h2,li{
    color:#B4474B;
    font-family: 'Roboto';
   // font-weight: 100;
  }
  li{
    display:none;//font-size: 12px;
  }
  h2{
    font-size: 17px;
  }
}
.sign-in-form{
  margin-right: 0 !important;
  background-color: rgba(255,255,255,1);

  padding: 1px;
  padding-right: 3px;
  border-radius: 2px;
  .clearfix.error{
    display: inline;
  }
  .help-inline{
    display: none;
  }
  .field_with_errors {
    display:inline !important;
  }
  font-size: 13px;
  .alert{
  }
  input {
    display: inline;
    padding: 3px 3px;
    height: 130%;
    border-radius: 0;
    font-size: 12px;
    &[type="email"],&[type="text"],&[type="password"]{
      width: 180px;
    }

  }
  .btn{
    font-size: 12px;
    font-family: "Open Sans";
    padding: 0px 5px  ;
  }



}
form .clearfix:before, form .clearfix:after {
  display: inline;
}
.row-carousel-signup{
  margin: auto;
}
.carousel-container.col-md-6{
   width: 55%;
}
#carousel-teaser{

  font-family:  "Roboto","Open Sans";
  margin-top: 28px;
  .carousel-caption{
    font-family:  "Roboto","Open Sans";
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    border-radius: 5px;
    h3{
      color: #eee;
      font-family:  "Roboto","Open Sans";
      font-weight: 100;
      font-size:30px;
    }
  }

  //opacity: 0.9;
}
.signup-block{
  input{
    &[type="text"],&[type="password"],&[type="email"]{
      width: 300px;
      font-size: 13px;
      padding: 4px;
      height: 27px;
      margin-bottom: 7px;
    }
  }
  span.glyphicon{
    color:$navbar-zwaj-color1;
  }
  ul{
    list-style: none;

  }
  h2.signup{
    @include robotobig;
  }
  .sign-up-form{

    .field_with_errors input{
      //https://gist.github.com/t2/1464315
    }
  }
}

.coming-soon{
  text-align: center;
  h1{
    @include robotobig;
    font-size: 100px;
  }
  padding:20%;
  padding-top: 10%;
}










#footer-bottom {
  font-family: Raleway;
  background-color: #1f1f1f;
  background-color: rgba(0, 0, 0, 1);
  padding: 0;//3px 0 0 5px;
  padding-top: 3px;
  .social-icon{
    font-size: 20px;
  }

  .clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  .social-icon span {
    display: none;
  }
  .clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  .container {
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 880px;
  }
  #et-social-icons {
    float: right;
    margin-top: 5px;
  }
  ol, ul {
    list-style: none outside none;
    margin: 0;
  }
  #footer-info {
    a{
      color:#ADADAD;;
     // font-weight: 600;
    }
    font-size: 12px;
    color: #666666;
    float: left;
    padding-bottom: 0px;
    text-align: left;
    padding-top: 9px;
  }
  #et-social-icons li {
    display: inline-block;
    margin-left: 20px;
  }
}


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.devise-container,.main-container {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -38px;
  /* Pad bottom by footer height */
  padding: 2px 0 42px;
}

/* Set the fixed height of the footer here */
footer {
  height: 20px;
  background-color: #f5f5f5;
  .container {
    width: auto;
   // max-width: 70%;
    padding: 0 10px;
  }
  .container .text-muted {
    margin: 10px 0;
  }
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

