<%= form_for(@delivery_mode) do |f| %>
  <% if @delivery_mode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery_mode.errors.count, "error") %> prohibited this delivery_mode from being saved:</h2>

      <ul>
      <% @delivery_mode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
