<h1>Listing delivery_modes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @delivery_modes.each do |delivery_mode| %>
      <tr>
        <td><%= link_to 'Show', delivery_mode %></td>
        <td><%= link_to 'Edit', edit_delivery_mode_path(delivery_mode) %></td>
        <td><%= link_to 'Destroy', delivery_mode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Delivery mode', new_delivery_mode_path %>
