  <div id="footer-bottom">
    <div class="container clearfix">
      <ul id="et-social-icons">
        <!--<li> Social:</li>-->
        <li class="social-icon icon-facebook">
          <a href="#">
            <span>Facebook</span>
          </a>
        </li>
        <li class="social-icon icon-twitter">
          <a href="#">
            <span>Twitter</span>
          </a>
        </li>
        <li class="social-icon icon-googleplus">
          <a href="#">
            <span>Google</span>
          </a>
        </li>
        <li class="social-icon icon-youtube">
          <a href="#">
            <span>Youtube</span>
          </a>
        </li>
      </ul>

      <p id="footer-info">
       Designed with love by <a title="Syl Tech" href="mailto:mcguy2008@gmail.com">Guillaume Yawo KPOTUFE</a>  &copy; 2014
        | Terms of use | Contact | Services | About us
      </p>
    </div>	<!-- .container -->
  </div>
