<!DOCTYPE html>
<html>
<head>
  <title>Zwaj</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="main-container">
  <nav class="navbar navbar-zwaj navbar-default  navbar-fixed-top" role="navigation">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-md-6">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="zwaj-logo" href="/"> <%= image_tag "zwaj1.png", alt:"Zwaj logo", class: "img-responsive" %></a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">

      <ul class="nav navbar-nav">
        <li><a href="#"><span class="icon-bar"></span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <span class="user"><span class="glyphicon glyphicon-user"></span>
          <%= (current_user.nil?)?'Guest':current_user.name %> |
        </span>

        <span class="logout"><span class="glyphicon glyphicon-log-out"></span>
          <%=link_to( t('sign_out'), destroy_user_session_path, method: :delete,id: 'sign_out_link') %>
        </span>
      </ul>

    </div>

    <!-- /.navbar-collapse -->
  </nav>
  <div class="under-navbar">
  </div>
  <div class=" blocks-container">
    <% if notice   %>
      <div class="alert alert-info  alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="glyphicon glyphicon-info-sign"></span> <%= notice %>
      </div>
    <% end  %>
    <% if alert   %>
      <div class="alert alert-danger  alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="glyphicon glyphicon-warning-sign"></span> <%= alert %>
      </div>
    <% end  %>
    <div id="main-ember-app">
      <%= yield %>
    </div>
  </div>
</div>
<footer>
  <%= render "layouts/footer" %>
</footer>
</body>
</html>
