<!DOCTYPE html>
<html>
<head>
  <title>Zwaj</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="devise-container">
  <nav class="navbar navbar-zwaj navbar-default  navbar-fixed-top" role="navigation">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-md-6">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand zwaj-logo" href="/"> <%= image_tag "zwaj1.png", alt:"Zwaj logo", class: "img-responsive" %></a>
      <span class="head-caption">Your events</span>
      <span class="head-caption2">made easy</span>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">

      <ul class="nav navbar-nav">
        <li><a href="#"><span class="icon-bar"></span></a></li>
      </ul>
      <%= yield :sign_in %>
    </div>

    <!-- /.navbar-collapse -->
  </nav>
  <div class="under-navbar">
  </div>
  <div class="section1">
    <span class="section1-1">
     <span class="glyphicon glyphicon-gift"></span>  Enriching your event Experience !
    </span>      <br/>
    <span class="section1-2">
      zwaj your event now and have fun !
    </span>

  </div >
  <div class=" blocks-container">
    <% if notice   %>
      <div class="alert alert-info  alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="glyphicon glyphicon-info-sign"></span> <%= notice %>
      </div>
    <% end  %>
    <% if alert   %>
      <div class="alert alert-danger  alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="glyphicon glyphicon-warning-sign"></span> <%= alert %>
      </div>
    <% end  %>
    <div class="row row-carousel-signup">
      <div class="col-md-6 carousel-container">
        <div id="carousel-teaser" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-teaser" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-teaser" data-slide-to="1"></li>
            <li data-target="#carousel-teaser" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag "couple1.jpg", alt:"Wedding couple", class: "img-responsive img-rounded" %>
              <div class="carousel-caption">
                <h3>Weddings once again easy to organize !  </h3>
                <strong> Zwaj</strong> your gifts, events, places, calendar, guests list, and albums...

              </div>
            </div>
            <div class="item ">
              <%= image_tag "cake1.jpg", alt:"Birthday cake", class: "img-responsive img-rounded" %>
              <div class="carousel-caption">
                <h3>What do you want for this birthday ?</h3>
                <strong> Zwaj</strong>  pictures of the parties, manage your guests...
              </div>
            </div>
            <div class="item ">
              <%= image_tag "graduate2.jpg", alt:"Graduation", class: "img-responsive img-rounded" %>
              <div class="carousel-caption">
                <h3>Hey you gonna graduate ? make it fun, zwaj it ! </h3>
                <strong> Zwaj</strong>  places, albums, ask gifts, invite friends and family
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-teaser" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-teaser" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <%= yield :sign_up %>
      </div>
    </div>

  </div>
</div>
<footer>
    <%= render "layouts/footer" %>
</footer>
</body>
</html>
